server:
  service:
    type: ClusterIP

  extraArgs:
    - --insecure

  ingress:
    enabled: true
    ingressClassName: gce
    annotations:
      kubernetes.io/ingress.class: "gce"
      kubernetes.io/ingress.global-static-ip-name: "argocd-ip"

    hosts:
      - argocd.136.110.154.85.nip.io   # ← 위에서 받은 IP

    paths:
      - /
    pathType: Prefix
